.logo {
  float: left;
}

.ant-layout-header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar {
  position: relative ;
  right: 10px;
}

.navbar .ant-menu {
  background: transparent;
  color: #fff;
}