body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  font-family: PingFangSC-Regular, Helvetica, Microsoft YaHei UI Light, Microsoft YaHei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: PingFangSC-Regular, Helvetica, Microsoft YaHei UI Light, Microsoft YaHei, sans-serif;
}
